@tailwind base;
@tailwind components;
@tailwind utilities;

.prose iframe,
.prose video,
.prose embed {
  width: 100% !important;
  height: auto !important;
  display: block;
  aspect-ratio: 16 / 9;
}
.prose img {
  max-width: 100%;
  height: auto;
  display: block;
}
.prose .embed-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.prose .embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
